<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <php>
        <env name="OPENPAY_ID" value="mzdtln0bmtms6o3kck8f"/>
        <env name="OPENPAY_SK" value="sk_e568c42xxxxxxxxxx"/>
        <env name="OPENPAY_PK" value="pk_0026ff366xxxxxxxxxxxx1"/>
        <env name="OPENPAY_ENVIROMENT" value="https://sandbox-api.openpay.mx/v1/"/>
    </php>
    <testsuites>
        <testsuite name="Package Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>